:root {
    --background: #FFBFD3;
    --background2: #fdd3da;
    --maincolor: #FF4265;
    --compliment1: #89CFC5;
    --compliment2: #05E7C5;
    --text: #5E1F2B;
}
@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
nav ul {
    list-style: none;
}
nav li {
    border: 1px solid var(--maincolor);
    width: max-content;
    border-radius: 5px;
    background-color: var(--background);
    padding: 5px;
    display: inline-block;
}
nav li:hover {
    background-color: var(--compliment1);
}
body {
    font-family:"Space Mono", "Courier New", Courier, monospace;
    background-color: var(--background);
}
section, header, footer {
    background-color: var(--background2);
    border-radius: 15px;
    padding: 30px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}
dt {
    font-weight: bold;
}
h1, h2, h3, p, li, dt, dd {
    color: var(--text);
}
/* 2xl */ 
/* @media (max-width: 1536px) {}  */
/* xl */ 
/* @media (max-width: 1280px) {}  */
/* lg */ 
/* @media (max-width: 1024px) {}  */
/* md */ 
@media (max-width: 768px) {
    section, header, footer {
        width: 60vw;
    }
} 
/* sm */ 
/* @media (max-width: 640px) {} */
 /* xs */ 
@media (max-width: 475px) {
    section, header, footer {
        width: 65vw;
    }
 }
 /* even smaller */ 
 @media (max-width: 375px) {
    section, header, footer {
        width: 70vw;
    }
 }